{% for reply in replies %}
    <div class="reply">
        <p>{{ reply.comment.message }}</p>
        <span>{{ reply.user.username }}</span>
        <a href="#" onclick="showReplyForm({{ reply.comment.id }})" class="reply-button">Reply</a>
        {% include 'comment/replies.html.twig' with { 'replies': reply.replies } %}
    </div>
{% endfor %}
